name: Release
on: [workflow_dispatch]

permissions:
  contents: write

env:
  MINECRAFT_VERSION: 1.20.4
  JAVA_VERSION: 17
  VERSION: 2.1.0
  MODRINTH_ID: owUiXPam
  CURSEFORGE_ID: 558439

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: 17

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Publish NeoForge to CurseForge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # CurseForge
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          # Config
          name: "[NeoForge] Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: forge/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            neoforge
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000

      - name: Publish Forge to CurseForge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # CurseForge
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          # Config
          name: "[Forge] Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: forge/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            forge
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000

      - name: Publish Fabric/Quilt to CurseForge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # CurseForge
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          # Config
          name: "[Fabric/Quilt] Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: fabric/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            fabric
            quilt
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          dependencies: |
            cloth-config(required)
            modmenu(optional)
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000

      - name: Publish NeoForge to Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Modrinth
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Config
          name: "Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: neoforge/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            neoforge
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000

      - name: Publish Forge to Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Modrinth
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Config
          name: "Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: forge/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            forge
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000

      - name: Publish Fabric/Quilt to Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Modrinth
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Config
          name: "Creeper Firework ${{ env.VERSION }} for ${{ env.MINECRAFT_VERSION }}"
          version: ${{ env.VERSION }}
          version-type: release
          changelog-file: changelog/${{ env.VERSION }}.md
          files: fabric/build/libs/*-${{ env.VERSION }}!(-@(dev|sources|slim|dev-shadow)).jar

          loaders: |
            fabric
            quilt
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          dependencies: |
            cloth-config(required)
            modmenu(optional)
          java: |
            ${{ env.JAVA_VERSION }}
          retry-attempts: 2
          retry-delay: 10000